*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --ff-body: 'Palanquin', sans-serif;
  --ff-body-desktop: 'Roboto', sans-serif;
  --ff-header: 'Staatliches', cursive;
  --ff-footer: 'Open Sans', sans-serif;

  --fc-text-mobile: hsla(274, 84%, 12%, 1);
  --fc-text-span: hsla(232, 17%, 35%, 1);


  --bg-body: hsla(233, 100%, 97%, 1);
  --bg-white: hsla(0, 0%, 100%, 1);
  --bg-header: hsla(218, 17%, 62%, 1);
  --bg-h1: hsla(275, 18%, 79%, 1);
  --bg-span: hsla(312, 91%, 96%, 1);
  
  font-size: 62,5%;
  --fs-h1: 4rem;

}

body {
  font-family: var(--ff-body);
  background: var(--bg-body);
  height: 100vh;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--bg-white);
  font-weight: 400;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0);
  --webkit-font-smoothing: antialiased;
}

h1, span {
  font-family:  var(--ff-header);
  text-transform: uppercase;
  letter-spacing: 0,5rem;
  line-height: 3,4rem;
}

header {
  background: var(--bg-header);
  display: grid;
  place-items: center;
}

#m-logo{
  padding: 3.2rem 0;
}

#d-logo {
  display: none;
}

footer {
  display: none;
}

.title {
  background: var(--bg-h1);
  margin-bottom: 2.9rem;
  padding: 0.8rem;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem 3.2rem 6rem;
}

.textMobile {
  font-family: var(--ff-body);
  text-align: center;
  padding: 0 3.2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--fc-text-mobile);
  -webkit-font-smoothing: antialiased;
}

.textDesktop {
  display: none;
}

.pictures {
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;
}

.pictures .picture {
  position: relative;
  height: fit-content;
  overflow: hidden;
  border-radius: 2rem;
}

.picture {
  animation: InTop 800ms 200ms backwards;
}

.picture img {
  transition: all 350ms;
}

.picture img:hover {
  transform: scale(1.3);
  border-radius: 2rem;
  cursor: pointer;
}

.picture span {
  animation: InDown 800ms 200ms backwards;
}

.pictures .picture span {
  font-size: 2rem;
  color: var(--fc-text-span);
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background: var(--bg-span);
  border-radius: 2rem;
  width: 10rem;
  text-align: center;
  letter-spacing: 0.2rem; 
  z-index: 10;
}

.pictures .picture img {
  width: 100%;
  border-radius: 2rem;
}

.pictures .picture:nth-child(1) {
  animation-delay: 250ms;
}

.pictures .picture:nth-child(2) {
  animation-delay: 350ms;
}

.pictures .picture:nth-child(3) {
  animation-delay: 450ms;
}

.pictures .picture:nth-child(4) {
  animation-delay: 550ms;
}

.pictures .picture:nth-child(5) {
  animation-delay: 650ms;
}

.pictures .picture:nth-child(6) {
  animation-delay: 750ms;
}

@keyframes Intop {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes InDown {
  0% {
    opacity: 0;
    transform: translateY(-2.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes smoothIn {
  0% {
    opacity: 0;
    transform: translateX(-38rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 900px) {
  .page {
    display: flex;
  }

  header {
    width: 37.7rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    animation: smoothIn 650ms 200ms backwards;
  }

  .title {
    margin-bottom: 3.2rem;
  }

  .textMobile {
    display: none;
  }

  .textDesktop {
    display: block;
    color: var(--bg-white);
    font-size: 1.8rem;
    line-height: 1.5;
    width: 28rem;
    text-align: center;
  }

  .pictures {
    margin-left: 37.7rem;
    grid-template-areas:
    "picutreA pictureB" 
    "pictureC pictureB"
    "pictureC pictureD"
    "pictureE pictureF";
  }
  
  .pictures .picture:nth-child(1) {
    grid-area: pictureA;
  }

  .pictures .picture:nth-child(2) {
    grid-area: pictureB;
  }

  .pictures .picture:nth-child(3) {
    grid-area: pictureD;
  }

  .pictures .picture:nth-child(4) {
    grid-area: pictureC;
  }

  .pictures .picture:nth-child(5) {
    grid-area: pictureE;
  }

  .pictures .picture:nth-child(6) {
    grid-area: pictureF;
  }

  #m-logo {
    display: none;
  }

  #d-logo {
    display: block;
    padding: 3.2rem 0;
  }

  footer {
    padding-top: 5rem;
    margin-left: 37.7rem;
    display: block;
  }

  footer p {
    font-size: 1.4rem;
    font-family: var(--ff-footer);
    font-weight: 400;
    color: var(--fc-text-span);
    line-height: 28px;
  }

  footer p a {
    font-weight: 700;
    text-decoration: none;
    color: var(--fc-text-span);
  }
}

@media (min-width: 980px) {
  .pictures {
    max-width: 1450px;
    grid-template-areas: 
    "pictureA pictureB pictureC"
    "pictureD pictureB pictureE"
    "pictureD pictureF pictureE";
  }

  .pictures .picture:nth-child(1) {
    grid-area: pictureA;
  }

  .pictures .picture:nth-child(2) {
    grid-area: pictureB;
  }

  .pictures .picture:nth-child(3) {
    grid-area: pictureC;
  }

  .pictures .picture:nth-child(4) {
    grid-area: pictureD;
  }

  .pictures .picture:nth-child(5) {
    grid-area: pictureF;
  }
  
  .pictures .picture:nth-child(6) {
    grid-area: pictureE;
  }
}
